*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
li{
  list-style: none;
}
.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    background:url('./img/hcy.jpg');
    background-size: cover;
    filter: blur(100px);
}
.box{
    display: flex;
    flex-direction: column;
    height: 100vh;
    
   
}
.top{

    height: 50px;
    width: 100%;
}
.top ul{
  float:right;
  line-height: 50px;

}
.top ul>li{
    list-style: none;
    
    float: left;
    margin-right: 10px;
    opacity: 0.5;
}
.top ul>li:hover{
    opacity: 1;
}
.img{
   width: 100px;
   opacity: 0.5;
   float: left;
   margin-left: 20px;
   line-height: 50px;
   font-size: 20px;
}
.img:hover{
opacity: 1;
}
.conter{
   flex:1;
   height: 0;
    width: 100%;
}
.conter-in, .bottom-in{
    height: 100%;
    width: 1200px;
    
    margin: 0 auto;
    display: flex;
}
.conter-in-right{
    width: 400px;
    height: 100%;
    
}
.song-info .song-photo{
  width: 225px;
  height: 225px;
  background-color: black;
  margin: 30px auto 10px auto;
  opacity: 0.7;
  
}
.song-info .song-photo:hover{
  opacity: 0.9;
}
.song-photo>img{
  width: 225px;
  height: 225px;
}
.song-info .song-name,.singer-name{
 text-align: center;
 color: #fff;
 opacity: 0.8;
 line-height: 20px;
 font-size: 12px;
 opacity: 0.8;
}
.song-lyric{
  margin-top: 20px;
}
.song-lyric li{
  height: 30px;
  text-align: center;
  padding: 10px;
  color: #fff;
  opacity: 0.8;
}
.song-lyric .sp{
  color:yellow;
}
.conter-in-left{
    flex:1;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
.conter-in-top{
  height: 45px;
  margin: 10px 0 30px 0;
}
.conter-in-top>span{
  display: inline-block;
  height:35px;
  width: 100px;
  border: 1px solid #fff;
  border-radius: 3px;
  text-align: center;
  line-height: 35px;
font-weight: lighter;
 margin-left: 15px;
 color: ivory;
 margin-top: 10px;
 opacity: 0.8;

}

.conter-in-top>span:hover{
opacity: 1;
}
.conter-in-buttom{
  flex:1;
  height: 0;
  overflow: auto;
}
.zanting{
  display: none;
}

.conter-in-buttom li{
  list-style: none;
  height: 50px;
  opacity: 0.8;
  overflow: hidden;
  border-bottom: 0.5px solid rgb(255, 255, 255,0.3);
  user-select: none;
}
.conter-in-buttom li:hover{
  opacity: 1;
}
.conter-in-buttom li>div{
  float: left;
  color: #fff;
  line-height: 50px;
  font-weight: lighter;
}
.conter-in-buttom .song{
  width: 50%;
}
.song .list-menu{
  float:right;
  margin: 8px  ;
  padding-right: 15px;
  opacity: 0.8;
  display: none;
}
.conter-in-buttom .singer,.time{
  width: 20%;
}
.time>img{
    float: left;
    margin-top: 8px ;
    display: none;
}
.conter-in-buttom .ico{
  width: 30px;
  height: 30px;
  margin: 16px;
  background: url('./img/weigouxuan.png') no-repeat;
}
.conter-in-buttom .icon{
  width: 30px;
  height: 30px;
  margin: 16px;
  background: url('./img/yigouxuan.png') no-repeat;
}
.bottom{
    height: 70px;
    width: 100%;
    margin-top: 30px;
    padding-top: 10px;

}

.bottom-in .play{
  float: left;
}
.bottom-in .play>span{
  margin-right: 30px;
}
.bottom-in .repalces{
  display: none;
}
.bottom-in .ing{
  width: 600px;

  height: 100%;
  float: left;
}
.ing-top{
  width: 100%;
  height: 50%;
  color: #fff;
}
.ing-top .ing-message{
  float: left;
  margin-left: 10px;
  opacity: 0.8;
}
.ing-time{
  float: right;
  margin-right: 10px;
  opacity: 0.8;
}
.bottom-in .buttom-info{
  float: left;

  margin: 0 40px;
  
}
.bottom-in .buttom-info>span{
  margin-left: 20px;
}
.ing-buttom{
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
}
.ing-buttom .ing-line{
  width: 0px;
  height: 100%;
  background: #fff;
}
.ing-line .ing-point{
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top:-2px;
  left: 0px;
}
.vioce-img{
  float: left;
}
.vioce-imgno{
  display: none;
  float: left;
}
.vioce-buttom{
  float: left;
  width: 100px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 15px;
}
.vioce-buttom .vioce-line{
  width: 30px;
  height: 100%;
  background: #fff;
}
.vioce-point{
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  top:-1px;
  left: 30px;
}



